
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AYD1 Práctica 3</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BanUsac 1.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
        </div>
    </div>
    <div class="container body-content">

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">@Session["CodUsuario"].ToString()</a></li>
            <li><a href="#">@Session["NombreCompleto"].ToString()</a></li>
            <li>@Html.ActionLink("LogOut", "LogOut", "usuarios", routeValues: null, htmlAttributes: new { id = "logOutLink" })</li>

        </ul>

        <div class="form-horizontal">
            <h4>@Session["NombreUsuario"].ToString()</h4>
            <hr />

        </div>

        <div class="col-md-4">
            <h2>Saldo de mi Cuenta:</h2>
            <p>
                El saldo actual de mi cuenta es:
            </p>

            <p><a class="btn btn-default" href="@Url.Action("SaldoUsuario", "cuentas",new { id = (int)Session["CodUsuario"] }))">Ver información de mi cuenta. &raquo;</a></p>

        </div>
        <div class="col-md-4">
            <h2>Transferencias:</h2>
            <p>
                Formulario para transferencia.
            </p>
            
        </div>


        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>